{% extends "base.html" %}

{% block start %}

<div class="container mt-5">
  <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
    {% csrf_token %}
    <h2 class="text-center text-info"> Fill the Feedback Form!</h2>
    <h4 class="text-center text-info">{{course_obj.course_name}}</h4>
    <hr>

    <div class="col-12 form-group">
      <label class="mb-2" for="{{ form.feedback_text.id_for_label }}">Feedback</label>
      <textarea class="mb-2 form-control"  name="{{ form.feedback_text.name }}" required></textarea>
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
  </div>

  {% endblock %}