{% extends "base.html" %}

{% block start %}

{% if messages %}
{{ message.tags }}

<div class="alert alert-success" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}

</div>
{% endif %}


<!-- <div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->
<br>
<br>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active"  id="tab1-content-tab" role="tab" data-toggle="tab" aria-current="page" href="#tab1-content">Enrolled Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  id="tab2-content-tab" role="tab" data-toggle="tab" href="#tab2-content">Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  id="tab3-content-tab" role="tab" data-toggle="tab" href="#tab3-content">Result</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  id="tab4-content-tab" role="tab" data-toggle="tab" href="#tab4-content">New Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  id="tab5-content-tab" role="tab" data-toggle="tab" href="#tab5-content">Feedback</a>
            </li>
        </ul>
    </div>
        <div class="tab-content card-body">
            <div class="tab-pane fade show active" id="tab1-content">
                <div class="container text-start">
                    <div class="row">
                        {% for courses in enrolled_courses %}
                            <div class="col-md-4 mb-4">
                            <div class="card" style="width: 100%;">
                                <img src="/static/imgs/mahadev.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ courses.course_name }}</h5>
                                    <p class="card-text">
                                        <p class="mb-0"><strong>Publish Date:</strong> {{ courses.publish_date }}</p>
                                        <p class="mb-0"><strong>Category:</strong> {{ courses.category }}</p>
                                        <p class="mb-0"><strong>Topic:</strong> {{ courses.topic }}</p>
                                        <p class="mb-0"><strong>Duration:</strong> {{ courses.course_duration }}</p>
                                    
                                    </p>
                                    
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab2-content">
                <div class="container text-start">
                    <div class="row">
                        {% for quiz in pending_quizzes %}
                            <div class="col-md-4 mb-4">
                            <div class="card" style="width: 100%;">
                                <img src="/static/imgs/mahadev.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ quiz.course_id.course_name }}</h5>
                                    <p class="card-text">
                                        <p class="mb-0"><strong>Quiz Title:</strong> {{ quiz.quiz_title }}</p>
                                        <p class="mb-0"><strong>Quiz Duration:</strong> {{ quiz.quiz_duration }}</p>
                                        <p class="mb-0"><strong>Number of questions:</strong> {{ quiz.no_of_ques }}</p>
                                    </p>
                                    <a href="/give_quiz/{{ quiz.quiz_id }}" class="btn btn-primary">Give Quiz!!</a>
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab3-content">
                <div class="container text-start">
                    <div class="row">
                        {% for results in all_results %}
                            <div class="col-md-4 mb-4">
                            <div class="card" style="width: 100%;">
                                <img src="/static/imgs/mahadev.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ results.quiz_id.course_id.course_name }}</h5>
                                    <p class="card-text">
                                        <p class="mb-0"><strong>Quiz Title:</strong> {{ results.quiz_id.quiz_title }}</p>
                                        <p class="mb-0"><strong>Your Marks:</strong> {{ results.marks }}</p>
                                    </p>
                                    <a href="/show_full_result/{{ results.result_id }}" class="btn btn-primary">See your full result!!</a>
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab4-content">
                <div class="container text-start">
                    <div class="row">
                        {% for course in not_enrolled_courses %}
                            <div class="col-md-4 mb-4">
                            <div class="card" style="width: 100%;">
                                <img src="/static/imgs/mahadev.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ course.course_name }}</h5>
                                    <p class="card-text">
                                        <p class="mb-0"><strong>Publish Date:</strong> {{ course.publish_date }}</p>
                                        <p class="mb-0"><strong>Category:</strong> {{ course.category }}</p>
                                        <p class="mb-0"><strong>Topic:</strong> {{ course.topic }}</p>
                                        <p class="mb-0"><strong>Duration:</strong> {{ course.course_duration }}</p>
                                        <!-- <p class="mb-0"><strong>Taught by:</strong> {{ course.teacher_id.first_name }}</p> -->
                                    </p>
                                    <a href="/enroll/{{ course.course_id }}" class="btn btn-primary">Enroll Now!!</a>
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab5-content">
                <div class="container text-start">
                    <div class="row">
                        {% for course in enrolled_courses %}
                            <div class="col-md-4 mb-4">
                            <div class="card" style="width: 100%;">
                                <img src="/static/imgs/mahadev.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{ course.course_name }}</h5>
                                    <p class="card-text">
                                        <p class="mb-0"><strong>Category:</strong> {{ course.category }}</p>
                                        <p class="mb-0"><strong>Topic:</strong> {{ course.topic }}</p>
                                        <p class="mb-0"><strong>Taught by:</strong> {{ course.teacher_id.first_name }}</p>
                                    </p>
                                    <a href="/give_feedback/{{ course.course_id }}" class="btn btn-primary">Give Feedback!!</a>
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>


    </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<!-- {{request.user}} -->
<!-- {{request.user.email}} -->

{% endblock %}