{% extends "base.html" %}

{% block start %}

<div class="container mt-5 mb-5">
  <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
    {% csrf_token %}
    <h2> Update question!</h2>
    <hr>

    <!-- {{form}} -->
<!-- 
    <div class="col-12 form-group">
        <input type="hidden"  name="{{ form.ques_no.name }}" value="{{ no_ques }}"/>
      </div> -->

    <div class="col-12 form-group">
      <label class="mb-2" for="{{ form.ques_text.id_for_label }}">Question</label>
      <input type="text" class="mb-2 form-control"  name="{{ form.ques_text.name }}" value="{{ques_obj.ques_text}}" required/>
    </div>

    <div class="col-12 form-group">
      <label class="mb-2" for="{{ form.opt1.id_for_label }}">Option 1</label>
      <input type="text" class="mb-2 form-control"  name="{{ form.opt1.name }}" value="{{ques_obj.opt1}}" required/>
    </div>

    <div class="col-12 form-group">
      <label class="mb-2" for="{{ form.opt2.id_for_label }}">Option 2</label>
      <input type="text" class="mb-1 form-control" name="{{ form.opt2.name }}" value="{{ques_obj.opt2}}" required/>
    </div>

    <div class="col-12 form-group">
        <label class="mb-2" for="{{ form.opt3.id_for_label }}">Option 3</label>
        <input type="text" class="mb-1 form-control" name="{{ form.opt3.name }}" value="{{ques_obj.opt3}}" required/>
    </div>

    <div class="col-12 form-group">
        <label class="mb-2" for="{{ form.opt4.id_for_label }}">Option 4</label>
        <input type="text" class="mb-1 form-control" name="{{ form.opt4.name }}" value="{{ques_obj.opt4}}" required/>
    </div>

    <div class="col-12 form-group">
        <label for="{{ form.correct_opt.id_for_label }}" class="mb-2 form-label">Correct Option</label>
        <select name="{{ form.correct_opt.name }}" class="mb-2 form-select" >
          <!-- <option selected>Choose...</option> -->
          {% if ques_obj.correct_opt == 1 %}
          <option selected value="1">Option 1</option>
          {% else %}
          <option value="1">Option 1</option>
          {% endif %}
          {% if ques_obj.correct_opt == 2 %}
          <option selected value="2">Option 2</option>
          {% else %}
          <option value="2">Option 2</option>
          {% endif %}
          {% if ques_obj.correct_opt == 3 %}
          <option selected value="3">Option 3</option>
          {% else %}
          <option value="3">Option 3</option>
          {% endif %}
          {% if ques_obj.correct_opt == 4 %}
          <option selected value="4">Option 4</option>
          {% else %}
          <option value="4">Option 4</option>
          {% endif %}
        </select>
      </div>

    <div class="col-12 form-group">
      <label for="{{ form.ques_marks.id_for_label }}" class="mb-2 form-label">Ques Marks</label>
      <input type="number" class="mb-4 form-control" name="{{ form.ques_marks.name }}" value="{{ques_obj.ques_marks}}" required/>
    </div> 

    <!-- {{form}}--->

    <!-- {{ ques_no }}
    {{ quiz_detail.no_of_ques }} -->

    <!-- commenting this after update -->
    <!-- {% if ques_no >= quiz_detail.no_of_ques %}
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Submit Quiz</button>
    </div>
    {% else %}
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Next Question</button>
    </div>
    {% endif %} -->

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Update Ques</button>
    </div>

  </form>
  </div>

  {% endblock %}